* {
  box-sizing: border-box;
  text-align: center;
}

input {
  text-align: left;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-cards {
  margin: 1rem 0;
}

.gift-cards div {
  margin: 0.5rem 0;
}

#custom-amount-area, #payment-button-area {
  display: none;
}

#custom-amount {
  cursor: text;
}

#payment-button-area .pay-button {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 4px;
  cursor: pointer;
}
#payment-button-area .pay-button:hover {
  text-decoration: none;
  background-color:#cde;
}
#payment-button-area .pay-button:active {
  text-decoration: none;
  background-color:#abc;
}
